<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Software Libre Taldea - {}</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <nav>
            <h1 class="title">Software Libre Taldea</h1>
            <h3 class="title">
                <a href="/">hasiera</a> · <a href="/ekitaldiak">ekitaldiak</a> · <a href="/faq.html">faq</a>
            </h3>
        </nav>

        {}

        <footer>
            <a href="mailto:slt_dif@tutanota.com">email</a> ·
            <a href="https://mastodon.social/@slt_dif">mastodon</a> ·
            <a href="https://github.com/Software-Libre-Taldea">github</a>
        </footer>
    </body>
</html>
